{% extends 'base.html' %}
{% load bootstrap3 %}

{% url 'citation:publication_detail' as publication_detail_url %}

{% block content %}
    <div data-bind="template: { name: 'baseTmpl', data: currentStep }"></div>
{% endblock %}

{% block javascript %}
    <!-- Templates -->
    <script id="baseTmpl" type="text/html">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 data-bind="text: name"></h4>
            </div>
            <div class="panel-body" data-bind="template: { name: getTemplate, data: model }"></div>
        </div>
    </script>

     <script id="basicTmpl" type="text/html">
        <div data-bind="text: message"></div>
    </script>

    <script id="choicePubTmpl" type="text/html">
        <form role="search" method="get" action="{{ search }}" class="form-horizontal">
            {% bootstrap_form form layout="horizontal" label_class="col-md-2" %}
            {% buttons layout='horizontal' label_class="col-md-2" %}
                <button type="submit" class="btn btn-default">Search</button>
            {% endbuttons %}
        </form>
        {% if request.GET %}
            <h3>Results</h3>
            <table class="table table-striped">
                <thead><tr><th class='col-lg-2'>Status</th><th class='col-lg-2'>Contribution</th><th class='col-lg-6'>Title</th><th class='col-lg-2'>Last Modified</th></tr>
                </thead>
                <tbody>
                    {% for publication in object_list %}
                        <tr>
                            <td>
                            {% if publication.flagged %}
                            <i class='text-danger fa fa-flag'></i>
                            {% endif %}
                            <span class='label label-as-badge label-primary'>{{ publication.status }}</span>
                            {%  if publication.status == "REVIEWED" and publication.is_archived %}
                            <i class="text-success fa fa-thumbs-o-up"></i>
                            {% elif publication.status == "REVIEWED" %}
                            <i class="text-danger fa fa-thumbs-down"></i>
                            {% endif %}
                            </td>
                            <td>  {% if publication.contributor_data %}
                                  {{  publication.contributor_data|first}}
                                  {% endif %}</td>
                            <td><a href="{% url 'citation:publication_detail' pk=publication.pk %}">{{ publication.title }}</td>
                            <td>{{ publication.last_modified }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No results found for the provided query</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if page_obj.has_previous or page_obj.has_next and request.GET %}
            <div class="text-center">{% bootstrap_pagination page_obj url=request.get_full_path %}</div>
        {% endif %}
    </script>

    <script type="text/javascript">
        $(function(){
            var TagListViewModel = function(){
                var self= this;
                self.tags = ko.observableArray();
                self.selectedTags = ko.observableArray();
                self.getTagList = function (query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:tag_search' %}");
                };

            self.makeAsyncRequest = function (query, callback, url) {
                    if (!query.length) return callback();
                    $.getJSON(url + "?q=" + encodeURIComponent(query))
                            .done(function (res) {
                                callback(JSON.parse(res).slice(0, 5));
                            }).fail(function () {
                        callback();
                    });
                };
            };

            var Step = function(id, name, template, model, prvbtntxt, nxtbtntxt) {
                var self = this;

                self.id = id;
                self.name = ko.observable(name);
                self.template = template;
                self.model = ko.observable(model);
                self.prvBtnTxt = ko.observable(prvbtntxt);
                self.nxtBtnTxt = ko.observable(nxtbtntxt);

                self.getTemplate = function() {
                    return self.template;
                }
            };

            /*
             * FIXME: email construction not currently implemented, rework later
             */
            var WizardViewModel = function() {
                var self = this;
                self.stepModels = ko.observableArray([
                    new Step(1, "Select Publications", "choicePubTmpl", new TagListViewModel(), "", "Construct Email "),
                    new Step(3, "Done", "basicTmpl", { message: "Completed." }, "", "Done "),
                ]);

                self.currentStep = ko.observable(self.stepModels()[0]);

                self.currentIndex = ko.computed(function() {
                    return self.stepModels.indexOf(self.currentStep());
                });

                self.getTemplate = function(data) {
                     return self.currentStep().template();
                };

                self.canGoNext = ko.computed(function() {
                    return self.currentIndex() < self.stepModels().length - 1;
                });
 
                self.canGoPrevious = ko.computed(function() {
                    return self.currentIndex() > 0 && (self.currentIndex() < self.stepModels().length - 1);
                });

                self.goPrevious = function() {
                    if (self.canGoPrevious()) {
                         self.currentStep(self.stepModels()[self.currentIndex() - 1]);
                    }
                };

                self.endWizard = function(data, event) {
                    self.currentStep(self.stepModels()[0]);
                };
            };
            ko.applyBindings(new WizardViewModel());
        });
    </script>
{% endblock javascript %}
