{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="widget-wrapper">
        <div class="widget-head">
            <h4>
                <a class='btn btn-default' href='{% url 'core:curator_workflow' %}'><i class='fa fa-arrow-left'></i> Back to assigned publications</a>
                <a target='_blank' data-bind="attr: { href: googleScholarLink() }">
                    <span data-bind='text: title'></span> <i class='fa fa-external-link'></i>
                </a>
            </h4>
        </div>
        <div class="widget-content clearfix">
            <form id='curatorPublicationDetailForm' method="post" role="form">
                <div class="row well">
                    <div class="col-md-6">
                        <legend class="scheduler-border">Assigned to 
                            <mark>
                                <span data-bind='ifnot: assigned_curator'>nobody</span>
                                <span data-bind='text: assigned_curator'></span>
                            </mark>
                        </legend>
                        <p><b>Journal: </b><span data-bind="text: journal.name"></span></p>
                        <p><b>Date Published: </b><span data-bind="text: date_published"></span></p>
                        <div><b>Author(s): </b>
                        <ul class='list-inline' data-bind="foreach: creators">
                            <li class='bg-info'>
                                <span data-bind="text: first_name"></span>
                                <span data-bind="text: last_name"></span>
                            </li>
                        </ul>
                        </div>
                        <p>Last modified: <b data-bind='text:date_modified'></b></p>
                        <p><a target='_blank' data-bind="attr: { href: googleScholarLink() }">Find on Google Scholar <i class='fa fa-external-link'></i></a>
                        {# FIXME: dirty, hard-coded URL #}
                        <p><a data-bind="attr:{ href: '/publication/'+ id()}">View full bibliographic record</a></p>
                    </div>
                    <div class="col-md-6 form-group">
                        <note-detail params="notes: notes, pub_id: id"></note-detail>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-4 form-group'>
                        <label class="control-label" for="id_model_documentation">Model documentation</label>
                        <select class="form-control" id="id_model_documentation" name="model_documentation" data-bind="selectize: modelDocumentationList, value: model_documentation.value, optionsText: 'value', optionsValue: 'value', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getModelDocList }"></select>
                    </div>
                    <div class="col-md-8 form-group">
                        <label class="control-label" for="id_platforms">Platforms</label>
                        <select multiple="multiple" class="form-control" id="id_platforms" name="platforms" data-bind="selectize: platforms, selectedOptions: selectedPlatforms, optionsValue: 'name', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getPlatformList, create: function(input) { return { name: input, id: input }}}"></select>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="id_sponsors">Sponsors</label>
                        <select multiple="multiple" class="form-control" id="id_sponsors" name="sponsors" data-bind="selectize: sponsors, selectedOptions: selectedSponsors, optionsValue: 'name', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getSponsorList }"></select>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="id_tags">Tags</label>
                        <select multiple="multiple" class="form-control" id="id_tags" name="tags" data-bind="selectize: tags, selectedOptions: selectedTags, optionsText: 'value', optionsValue: 'value', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getTagList }"></select>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-11 form-group'>
                        <label class="control-label" for="id_code_archive_url">Code url</label>
                        <input class="form-control" id="id_code_archive_url" maxlength="255" name="code_archive_url" placeholder="Code archive url" type="url" data-bind="value: code_archive_url">
                        <span data-bind='if: validCodeArchiveUrl'>
                            <a data-bind='attr: {href: code_archive_url}' target='_blank'>View code <i class='fa fa-external-link'></i></a>
                        </span>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-6 form-group">
                        <label class="control-label" for="id_contact_author">Contact author name</label>
                        <input class="form-control" id="id_contact_author" maxlength="75" name="contact_author" placeholder="Corresponding Author" type="text" data-bind="value: contact_author_name">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label" for="id_contact_email">Contact email</label>
                        <input class="form-control" id="id_contact_email" maxlength="75" name="contact_email" placeholder="Contact email" type="email" data-bind="value: contact_email">
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12 form-group'>
                        <div class='well'>
                        <label class="control-label" for="id_status">Current Status: </label>
                        <b class='text-warning' data-bind='text:status'></b>
                        <br>
                        <div class="radio" data-toggle="buttons" id="id_status">
                            <label class="btn btn-info btn-sm">
                                <input type="radio" name="status" value="UNTAGGED" data-bind="bsChecked: status"> <i class='fa fa-eye-slash'></i> Incomplete
                            </label>
                            <label class="btn btn-warning btn-sm">
                                <input type="radio" name="status" value="NEEDS_AUTHOR_REVIEW" data-bind="bsChecked: status"> <i class='fa fa-tag'></i> Tagging Complete, Needs Author Input
                            </label>
                            <label class="btn btn-success btn-sm">
                                <input type="radio" name="status" value="COMPLETE" data-bind="bsChecked: status"> <i class='fa fa-thumbs-o-up'></i> Tagging Complete, Code Archived
                            </label>
                            <label class="btn btn-danger btn-sm">
                                <input type="radio" name="status" value="INVALID" data-bind="bsChecked: status"> <i class='fa fa-times'></i> Invalid Publication
                            </label>
                            <label class="btn btn-danger btn-sm">
                                <input type="radio" name="status" value="FLAGGED" data-bind="bsChecked: status"> <i class='fa fa-flag'></i> Flag for Additional CoMSES Review
                            </label>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="widget-foot clearfix">
            <button type="button" class="btn btn-primary" data-bind="click: savePublication"><i class="fa fa-floppy-o"></i> Save</button>
            <a class='btn btn-default' href='{% url 'core:curator_workflow' %}'><i class='fa fa-arrow-left'></i> Back to assigned publications</a>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {% include "includes/note_form.html" %}

    <script type="text/javascript">
        var viewModelJson = $.parseJSON("{{ json | escapejs }}");
        if (!viewModelJson.journal) {
            viewModelJson.journal = {'name': null};
        }
        if (!viewModelJson.model_documentation) {
            viewModelJson.model_documentation = {'value': null};
        }
        $(function() {
            var PublicationDetail = function(data) {
                var self = this;
                ko.mapping.fromJS(data, {}, self);

                self.selectedTags = ko.observableArray(ko.utils.arrayMap(self.tags(), function(tag) { return tag.value(); }));
                self.selectedPlatforms = ko.observableArray(ko.utils.arrayMap(self.platforms(), function(platform) { return platform.name();}));
                self.selectedSponsors = ko.observableArray(ko.utils.arrayMap(self.sponsors(), function(sponsor) { return sponsor.name();}));
                self.journals = ko.observableArray([data.journal || ""]);
                self.googleScholarLink = ko.computed(function() {
                    var firstAuthorLastName = self.creators()[0].last_name();
                    return 'https://scholar.google.com/scholar?as_q=' + encodeURIComponent(self.title()) +
                        '&as_sauthors=' + encodeURIComponent(firstAuthorLastName);
                });
                self.validCodeArchiveUrl = ko.computed(function() {
                    return self.code_archive_url() && $('#curatorPublicationDetailForm').valid();
                });

                self.modelDocumentationList = ko.observableArray([data.model_documentation || ""]);
                self.getPlatformList = function(query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:platform_search' %}");
                };
                self.getSponsorList = function(query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:sponsor_search' %}");
                };
                self.getTagList = function(query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:tag_search' %}");
                };
                self.getJournalList = function(query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:journal_search' %}");
                };
                self.getModelDocList = function(query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:model_doc_search' %}");
                };

                self.makeAsyncRequest = function(query, callback, url) {
                    if (!query.length) return callback();
                    $.getJSON(url + "?q=" + encodeURIComponent(query))
                        .done(function(res) {
                            callback(JSON.parse(res).slice(0, 5));
                        }).fail(function() { callback(); });
                };
                {# FIXME: code duplication #}
                self.makeRequest = function(request_type, data, url) {
                     return $.ajax({
                        type: request_type,
                        url: url,
                        data: data,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    }).fail(function(result) {
                        humane.log("Something went wrong, Please verify the form data and try again.", {timeout: 5000});
                        console.log(result.responseJSON);
                    });
                }

                self.savePublication = function(data, event) {
                    var form = $('#curatorPublicationDetailForm');
                    if ( !form.valid() ) {
                        form.showErrors();
                        return false;
                    }

                    var data_clone = ko.mapping.fromJS(ko.mapping.toJS(data));
                    data_clone.platforms(ko.utils.arrayMap(data.selectedPlatforms(), function(platform) {
                        return {'name': platform};
                    }));
                    data_clone.sponsors(ko.utils.arrayMap(data.selectedSponsors(), function(sponsor) {
                        return {'name': sponsor};
                    }));
                    data_clone.tags(ko.utils.arrayMap(data.selectedTags(), function(tag) {
                        return {'value': tag};
                    }));

                    if (data_clone.journal.name() == undefined) {
                        if (data.journals()[0].name) {
                            data_clone.journal.name = ko.observable(data.journals()[0].name);
                        } else {
                            data_clone.journal = null;
                        }
                    } else if (data_clone.journal.name() == "") {
                        data_clone.journal = null
                    }
                    if (data_clone.model_documentation.value() == undefined) {
                        if (data.modelDocumentationList()[0].value) {
                            data_clone.model_documentation.value = ko.observable(data.modelDocumentationList()[0].value);
                        } else {
                            data_clone.model_documentation = null;
                        }
                    } else if (data_clone.model_documentation.value() == "") {
                        data_clone.model_documentation = null;
                    }

                    self.makeRequest("PUT", ko.toJSON(data_clone), window.location.pathname).done(function(result) {
                        humane.log("Data saved successfully.", {timeout: 5000})
                    });
                };
            };
            ko.applyBindings(new PublicationDetail(viewModelJson));
            $('#curatorPublicationDetailForm').validate();
        });
    </script>
{% endblock javascript %}
