{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class='well'>
        <h4>Completed Publications</h4>
        <table class='table table-striped'>
            <thead>
                <tr><th>Title</th><th>Last Modified</th></tr>
            </thead>
            <tbody>
                {% for pub in other_publications %}
                <tr>
                    <td><a href="{% url 'core:curator_publication_detail' pub.pk %}">{{pub.title}}</td>
                    <td>{{ pub.last_modified }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="widget-wrapper">
        <div class="widget-head">
            <h4>Assigned Publications for {{ request.user.get_full_name }}</h4>
            <div>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries</div>
        </div>
        <div class="widget-content">
            <table class="table table-striped">
                <thead>
                    <tr><th>Title</th><th>Date Published</th></tr>
                </thead>
                <tbody>
                    {% for row in object_list %}
                    <tr>
                        <td><a href="{% url 'core:curator_publication_detail' row.pk %}">{{ row.title }}</td>
                        <td>{{ row.date_published }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No assigned publications.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.has_previous or page_obj.has_next %}
        <div class="widget-foot clearfix">
            <div class='text-center'>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries</div>
            <div class="text-center">{% bootstrap_pagination page_obj url=request.get_full_path %}</div>
        </div>
        {% endif %}
    </div>
{% endblock %}
