{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <span> Publication: </span>
            <span data-bind="text: title"></span>
        </div>
        <div class="panel-body clearfix">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="id_url">Archive URL</label>
                    <div class="col-md-4">
                        <input class="form-control" id="id_url" name="url" placeholder="Archive URL" data-bind="value: code_archive_url">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="id_comments">Comments</label>
                    <div class="col-md-4">
                        <TextArea class="form-control" id="id_comments" name="comments" data-bind="value: author_comments"></TextArea>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" data-bind="click: saveInfo">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        var viewModelJson = $.parseJSON("{{ json | escapejs }}");
        $(function(){
            var Publication =  function(data) {
                var self = this;

                self.title = ko.observable(data.title);
                self.code_archive_url = ko.observable(data.code_archive_url);
                self.author_comments = ko.observable(data.author_comments);
 
                self.saveInfo = function(data, event) {
                    $.post({
                        url: window.location.pathname,
                        data: ko.toJSON(data),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function(result) {
                            $('.panel-body').html("Your work has been archived successfully. Thanks.")
                        },
                        error: function(result) {
                            humane.log("Errors while saving code archive URL, please try again.", {timeout: 5000});
                            console.log(result.responseJSON);
                        }
                    });
                }
            };
            ko.applyBindings(new Publication(viewModelJson));
        });
    </script>
{% endblock javascript %}
