Django==1.9.3
Fabric==1.10.2
Markdown==2.6.5
PyYAML==3.11
Pyzotero==1.1.15
coverage==4.0.3
cssselect==0.9.1
dealer==2.0.5
django-autocomplete-light==3.0.4
django-bootstrap3==7.0.0
django-contact-form==1.2
django-debug-toolbar==1.4
django-extensions==1.6.1
django-haystack==2.4.1
django-kronos==0.9
django-model-utils==2.4
djangorestframework==3.3.2
feedparser==5.2.1
ipython
lxml==3.5.0
psycopg2==2.6.1
pysolr==3.4.0
python-coveralls==2.6.0
raven==5.11.0
requests==2.9.1
sh==1.11
uWSGI==2.0.12
unicodecsv==0.14.1
django-pipeline==1.6.6
nodeenv==0.13.6
