Markdown==2.6.11
cssselect==1.0.1
Django>=2.1,<2.2
django-autocomplete-light==3.2.10
django-bootstrap3==11.0.0
django-contact-form==1.6.0
django-extensions==2.1.5
django-haystack==2.8.1
django-model-utils==3.1.1
djangorestframework==3.8.2
django-cas-client==1.5.0
psycopg2-binary==2.7.6
pysolr==3.7.0
raven==6.5.0
uWSGI==2.0.15
elasticsearch
elasticsearch_dsl
-e /code/citation
# dev requirements, factor out later
coverage
django-debug-toolbar
ipython
invoke
python-coveralls
django_redis

# visualization dependencies
numpy
django-pandas==0.5.1
pandas

# bokeh dependencies
bokeh
