{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'core:dashboard' as dashboard_url %}
{% load raven %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CoMSES Catalog{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {% block head %}

    {% endblock %}
</head>
<body>
{% block header %}
    <div class="bg-light sticky-top">
        <div class="container">
            {% block notifications %}
                {% for message in messages %}
                    <div role='alert' class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'core:public-home' %}">CoMSES Catalog</a>
                <div class="collapse navbar-collapse flex-md-column my-auto justify-content-end">
                    <ul class="navbar-nav ml-auto small">
                        <li class="nav-item">
                            <a class="nav-link" href="https://comses.net/about/contact/">
                                <span class="fas fa-bell"></span> Contact Us
                            </a>
                        </li>
                        {% if request.user.is_anonymous %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ login_url }}?next={{ request.path }}">Sign In</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="signedInDropdownLink" data-toggle="dropdown"
                                   role="button" href="#" aria-haspopup="true" aria-expanded="false">
                                    {{ request.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="signedInDropdownLink">
                                    <a class="dropdown-item" href="{{ dashboard_url }}">Curator Dashboard</a>
                                    <a class="dropdown-item" href="{{ logout_url }}">Sign out</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block breadcrumb %}
                <div class="col-12 px-0">
                    {% include 'public/includes/breadcrumb.html' %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

{% block js %}
<script src="//cdn.ravenjs.com/3.27.0/raven.min.js"></script>
<script>
    Raven.config('{% sentry_public_dsn %}').install();
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.6/holder.min.js"
        integrity="sha256-yF/YjmNnXHBdym5nuQyBNU62sCUN9Hx5awMkApzhZR0=" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
