{% extends 'public/base.html' %}

{% load explanation_tile from tags %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CoMSES Catalog</h1>
                <p class="lead text-muted">
                    A bibliographic database of <span style="font-weight: 900">{{ n_publications }}</span> agent based
                    modeling papers and their models
                </p>
                <form>
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg"
                                       placeholder="Enter search terms here"
                                       aria-label="Search" name="search" id="search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary btn-lg" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p>
                    <a class="btn btn-lg btn-primary" data-toggle="collapse" href="#about" role="button"
                       aria-expanded="false" aria-controls="about">
                        About the Catalog
                    </a>
                </p>
                <div class="collapse" id="about">
                    <div class="card card-body mx-4 text-justify">
                        <p>
                            The CoMSES Catalog is made to discover and improve the state of computational
                            model archiving. Publication information about digital context (e.g. code archive urls,
                            sponsorship, programming platform, documentation) has been added where available.
                        </p>
                        <p>
                            At the moment we focus on agent-based and individual-based models, and publications that are
                            listed in the ISI Web of Science. This allows us to use good quality data to analyze the
                            database and visualize relationships between publications/models.
                        </p>
                        <p>
                            You are invited to explore the database, submit suggestions for publications that you find
                            missing, mistakes you find in the metadata, or explore the landscape of publications via the
                            visualization feature.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <h1 class="col-12 text-center pb-4">Explore</h1>
                </div>
                {% for tile in tiles %}
                    <div class="row">
                        {% explanation_tile title=tile.title description=tile.description position=tile.position %}
                        <div class="col-md-6 bg-white px-0" style="height: 300px" id="{{ tile.id }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <div class="container pb-5 bg-white"></div>
        <section class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <h1 class="col-12 text-center pb-4">Contribute</h1>
                </div>
                <div class="row">
                    <a class="col-md-4" href="{% url 'core:suggest-a-publication' %}">
                        <div class="card mb-4 box-shadow">
                            <div class="card-img-top bg-secondary" style="height: 225px; width: 100%">
                                <div class="text-center">
                                    <span class="fas fa-file-alt fa-5x align-middle text-white"
                                          style="line-height: 225px"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Suggest publications</p>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4" href="{% url 'core:public-merge' %}">
                        <div class="card mb-6 box-shadow">
                            <div class="card-img-top bg-secondary" style="height: 225px; width: 100%">
                                <div class="text-center">
                                    <span class="fas fa-eraser fa-5x align-middle text-white"
                                          style="line-height: 225px"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Note Duplicates</p>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4" href="{% url 'core:github' %}">
                        <div class="card mb-6 box-shadow">
                            <div class="card-img-top bg-secondary" style="height: 225px; width: 100%">
                                <div class="text-center">
                                    <span class="fas fa-code fa-5x align-middle text-white"
                                          style="line-height: 225px"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Develop</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    {% for tile in tiles %}
        {% if tile.data_id %}
            {{ tile.data|json_script:tile.data_id }}
        {% endif %}
    {% endfor %}
    <script>
        {% for tile in tiles %}
            {% if tile.data %}
                Plotly.newPlot('{{ tile.id }}',
                    JSON.parse(document.getElementById('{{ tile.data_id }}').textContent).data,
                    JSON.parse(document.getElementById('{{ tile.data_id }}').textContent).layout,
                    {responsive: true});
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}