{% extends 'public/base.html' %}

{% load explanation_tile from tags %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <main role="main">
        <section class="jumbotron py-3 mb-0 text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CoMSES Catalog</h1>
                <div class="row justify-content-md-center">
                    <p class="col-md-8 lead text-muted">
                        A bibliographic database of <span style="font-weight: 900">{{ n_publications }}</span>
                        publications of agent-based and individual-based models in all applications domains, from cancer
                        modeling to ancient societies
                    </p>
                </div>
                <form>
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg"
                                       placeholder="Enter search terms here"
                                       aria-label="Search" name="search" id="search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary btn-lg" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p>
                    <a class="btn btn-lg btn-primary" data-toggle="collapse" href="#about" role="button"
                       aria-expanded="false" aria-controls="about">
                        About the Catalog
                    </a>
                </p>
                <div class="collapse" id="about">
                    <div class="card card-body mx-4 text-justify">
                        <p>
                            The CoMSES Catalog is made to discover and improve the state of computational
                            model archiving. Publication information about digital context (e.g. code archive urls,
                            sponsorship, programming platform, documentation) has been added where available.
                        </p>
                        <p>
                            The database was created using keywords on agent-based and individual-based modeling and
                            likely to be incomplete. If you have suggestions for additional publications recommend them
                            <a href="{% url 'core:suggest-a-publication' %}">here</a>. We included meta-data for the
                            publications and if you find any mistakes, please
                            <a href="{% url 'core:contact_us' %}">contact us</a>.
                        </p>
                        <p>
                            You are invited to explore the database, submit suggestions for publications that you find
                            missing, mistakes you find in the metadata, or explore the landscape of publications via the
                            visualization feature.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="album">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-8 pt-4 text-center">
                        With this catalog you can explore the world of agent-based and individual-based models and find
                        models of your interest. If you have suggestions for additional publications, you can propose
                        them <a href="{% url 'core:suggest-a-publication' %}">here</a>.
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-white px-0" id="{{ plot.id }}">
                        <div style="height: 450px">
                            <div class="d-flex h-100 justify-content-center align-items-center">
                                <div>
                                    <h5 class="text-muted">Loading code availability plot...</h5>
                                    <br>
                                    <p class="text-center text-muted"><i class="fa-4x fas fa-sync fa-spin"></i></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="album py-3 bg-secondary">
            <div class="container">
                <div class="row">
                    <h1 class="col-12 text-center text-white">Explore</h1>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <p class="text-white">
                            If you want to explore the database, you can do this in different ways. You can use the
                            search option to search for specific journals, topics or authors. With the visualization
                            option you can explore visualize trends of selected items.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="album bg-light">
            <div class="container">
                <div class="row pt-4">
                    <div class="col-md-6">
                        <a href="{% url 'core:public-search' %}">
                            <div class="text-center"><span class="fas fa-search fa-2x"></span></div>
                            <h3 class="text-center">Search</h3>
                        </a>
                        <p>
                            Need to find an agent or individual based model about a particular topic?
                            You can find papers in the database by searching for keywords and filtering
                            by code availability, author and programming platform.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'core:public-visualization' %}">
                            <div class="text-center"><span class="fas fa-chart-line fa-2x"></span></div>
                            <h3 class="text-center">Visualize</h3>
                        </a>
                        <p>
                            Want to figure out how popular particular topics are in agent and individual
                            based modeling? Visualize search queries and get summary plots about publication
                            counts each year, code availability, documentation standards, programming platform
                            and more.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        fetch('', {
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(resp => resp.json())
            .then(data => {
                const node = document.getElementById('{{ plot.id }}');
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
                Plotly.newPlot(
                    node,
                    data.data,
                    data.layout,
                    {responsive: true})
            });
    </script>
{% endblock %}