{% extends 'public/base.html' %}
{% load add_field_css list_authors pagination_control from tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 pt-2 pr-3">
                <a class="btn btn-block btn-lg btn-light" href="{% url 'core:suggest-a-publication' %}">Suggest
                    publication</a>
            </div>
            <div class="col-lg-9 pt-2">
                <form>
                    {% with form.visible_fields|first as field %}
                        <div class="form-group">
                            <label class="sr-only" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg"
                                       placeholder="Enter search terms here" value="{{ query }}"
                                       aria-label="Search" name="search" id="{{ field.id_for_label }}" form="search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary btn-lg" type="submit" form="search">Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 collapse" id="searchExplanation">
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-text">Possible Searches</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {% include 'public/includes/faceted_search.html' %}
            </div>
            <div class="col-lg-9">
                <div class="d-flex justify-content-between">
                    <div>
                        <div>Page {{ current_page }}</div>
                        {% pagination_control paginator current_page %}
                        <div>Results ({{ total_hits }})</div>
                    </div>
                    <div class="align-self-start">
                        <a class="btn btn-secondary" href="{{ suggested_merge_url }}" role="button">
                            Note duplicates
                        </a>
                        <a class="btn btn-secondary" href="{{ visualization_url }}" role="button">
                            <span class="fas fa-list-ol"></span> Visualize
                        </a>
                    </div>
                </div>
                {% for publication in publications %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ publication.get_public_detail_url }}">
                                {{ publication.title }}
                            </a></h5>
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <small><b>Published on:</b> {{ publication.incomplete_date_published }}
                                        </small>
                                    </div>
                                    <div class="col-md-6">
                                        <small class="float-md-right"><b>Published
                                            by:</b> {{ publication.container.name }}
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <small><b>Sponsored by:</b>
                                            {% for sponsor in publication.sponsors %}
                                                <span class="badge badge-info">{{ sponsor.name }}</span>
                                                {% empty %}
                                                Unknown
                                            {% endfor %}
                                        </small>
                                    </div>
                                    <div class="col-md-6">
                                        <small class="float-md-right"><b>Platforms: </b>
                                            {% for platform in publication.platforms %}
                                                <span class="badge badge-info">{{ platform.name }}</span>
                                                {% empty %}
                                                Unknown
                                            {% endfor %}
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                        <small><b>Related Files:</b>
                                            {% if publication.code_archive_urls %}
                                                <span class="badge badge-light">Code:
                                                    {% for code_archive_url in publication.code_archive_urls %}
                                                        <a href="{{ code_archive_url.url }}"><span class="fas fa-code"></span></a>
                                                    {% endfor %}
                                                </span>
                                            {% endif %}
                                             {% if publication.doi %}
                                                <span class="badge badge-light">Paper: <a href="https://doi.org/{{ publication.doi }}"><span class="far fa-file"><span></a></span>
                                            {% endif %}
                                       </small>
                                    </div>
                                    <div class="col-md-6">
                                        <small class="float-md-right"><b>Documentation:</b>
                                            {% for documentation in publication.model_documentation %}
                                                <span class="badge badge-info">{{ documentation }}</span>
                                                {% empty %}
                                                Unknown
                                            {% endfor %}
                                        </small>
                                    </div>
                                </div>
                           </div>
                            <div>
                                <b>Authored by:</b> {{ publication.authors|list_authors }}
                            </div>
                            <b class="card-text">Tags</b>
                            <p class="card-text">
                                {% for tag in publication.tags %}
                                    <span class="badge badge-info">{{ tag.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div>
                    {% pagination_control paginator current_page %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
