{% extends 'public/base.html' %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-lg-3">
                <form id="search">
                    {% include 'public/includes/faceted_search.html' %}
                </form>
            </section>
            <section class="col-lg-9">
                <div class="row pt-1">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg"
                                   placeholder="Enter search terms here" value="{{ search }}"
                                   aria-label="Search" name="search" id="full_text" form="search">
                        </div>
                    </div>
                    <div class=" col-md-2">
                        <button class="btn btn-outline-primary btn-block btn-lg" type="submit" form="search">Search
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Found <b>{{ n_matches }}</b> matching publications</p>

                        <h2>Documentation Standards</h2>

                        <p>
                            Model authors adopt different documentation techniques and standards to explain their work.
                            The CoMSES Catalog tracks the use of mathematical description, flow charts and
                            pseudocode as documentation techniques and the the use of Overview, Design concepts and
                            Details (ODD) as a documentation standard. Publications can use more than one documentation
                            technique and standard.
                        </p>

                        <div id="{{ plots.documentation_timeseries_count_plot.id }}"></div>
                        <div id="{{ plots.documentation_timeseries_percent_plot.id }}"></div>

                        <h2>Code Archival</h2>

                        <p>
                            Some models in the catalog have model code. The storage location of the model code is
                            categorized into six categories: archives (e.g. CoMSES, FigShare), code repositories
                            (e.g. GitHub, GitLab), journals (e.g. PLOS), personal or organizational (e.g. Dropbox,
                            Personal Website), platform (e.g. NetLogo website), other (all URLs not in the above list)
                            and uncategorized (has not been categorized manually and could not be categorized
                            automatically). A publication can have zero or more storage locations (but nearly all have
                            zero or one).
                        </p>

                        <div id="{{ plots.archival_timeseries_count_plot.id }}"></div>
                        <div id="{{ plots.archival_timeseries_percent_plot.id }}"></div>

                        <h2>Code Availability</h2>

                        <p>
                            Archived models have metadata about whether their model code URLs are available. A model
                            code URL is considered available if a GET request to the endpoint returns a 200 (OK)
                            response. A publication is considered available if it has at least one archive url and all
                            its archive urls are available.
                        </p>

                        <div id="{{ plots.code_availability_timeseries_count_plot.id }}"></div>
                        <div id="{{ plots.code_availability_timeseries_percent_plot.id }}"></div>

                    </div>
                    <div class="col-md-6">
                        <h2>Author Statistics</h2>

                        <p>
                            Who created and developed the model is recorded in the catalog. Author counts can show how
                            popular agent and individual based modeling is in the field and who the primary authors are.
                        </p>

                        <div id="{{ plots.top_author_plot.id }}"></div>
                    </div>
                    <div class="col-md-6">
                        <h2>Journal Usage</h2>

                        <p>
                            Models in the catalog are often published by a journal. The number of papers published by a
                            journal in a particular area shows what the popular journals are for publishing agent and
                            individual based models.
                        </p>

                        <div id="{{ plots.top_journal_plot.id }}"></div>
                    </div>
                    <div class="col-md-6">
                        <h2>Platform Usage</h2>

                        <p>
                            The programming platform is the framework used to develop the agent or individual based
                            model. A publication can have zero or more platforms. Platform usage shows what platforms
                            are most used in a field and should give researchers an idea of the size of a particular
                            platform's community.
                        </p>

                        <div id="{{ plots.top_platform_plot.id }}"></div>
                    </div>
                    <div class="col-md-6">
                        <h2>Sponsorship</h2>

                        <p>
                            Agent based model development is sometimes funded through grants given by sponsor
                            organizations. The catalog includes sponsor information on a given model where it is
                            available. Sponsor information will help researchers discover new the importance of
                            different sources in their field.
                        </p>

                        <div id="{{ plots.top_sponsor_plot.id }}"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% for plot in plots.values %}
        {{ plot.data|json_script:plot.data_id }}
    {% endfor %}
    <script>
        {% for plot_name, plot in plots.items %}
            const {{ plot_name }}_data = JSON.parse(document.getElementById('{{ plot.data_id }}').textContent);
            Plotly.newPlot('{{ plot.id }}',
                {{ plot_name }}_data.data,
                {{ plot_name }}_data.layout,
                {responsive: true}
            );

        {% endfor %}
    </script>
{% endblock %}
