{% extends 'public/base.html' %}
{% load render_form from tags %}

{% block head %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.21"></script>
    <script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">
    <script>
        Vue.component('multiselect', window.VueMultiselect.default);
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="form">
        <div class="form-group">
            <label for="modelSelector">Content Type</label>
            <select id="modelSelector" class="form-control" v-model="selectedModelName" @input="resetContent">
               <option v-for="modelOption in modelOptions" :value="modelOption.value">
                   ${ modelOption.label }
               </option>
           </select>
       </div>
       <div class="form-group">
           <label for="instanceSelector">Instances</label>
           <multiselect
               @input="addInstance"
               :value="selectedInstances"
               id="mergeMultiselect"
               track-by="id"
               label="name"
               placeholder="Type to find matches"
               :options="instances"
               :multiple="true"
               :searchable="true"
               :loading="isLoading"
               :internal-search="false"
               :clear-on-select="false"
               :close-on-select="false"
               @search-change="findCompletions"
           >
           </multiselect>
       </div>
       <div class="form-group" v-if="selectedModelName !== 'author'">
           <label for="nameInput">New Name</label>
           <input class="form-control" type="text" v-model="newContent.name">
       </div>
       <template v-else>
           <div class="form-group">
               <label for="givenNameInput">New Given Name</label>
               <input class="form-control" type="text" v-model="newContent.given_name">
           </div>
           <div class="form-group">
               <label for="familyNameInput">New Family Name</label>
               <input class="form-control" type="text" v-model="newContent.family_name">
           </div>
           <div class="form-group">
               <label for="orcidInput">New ORCID</label>
               <input class="form-control" type="text" v-model="newContent.orcid">
               <div class="badge badge-primary" v-for="email in selectedAttrValues.orcid"
                    @click="newContent.orcid = orcid">${ orcid }</div>
           </div>
           <div class="form-group">
               <label for="orcidInput">New ResearcherID</label>
               <input class="form-control" type="text" v-model="newContent.researcherid">
               <div class="badge badge-primary" v-for="email in selectedAttrValues.researcherid"
                    @click="newContent.researcherid = researcherid">${ researcherid }</div>
           </div>
           <div class="form-group">
               <label for="emailInput">New Email</label>
               <input class="form-control" type="email" v-model="newContent.email">
               <div class="badge badge-primary" v-for="email in selectedAttrValues.email"
                    @click="newContent.email = email">${ email }</div>
           </div>
       </template>
       <div class="form-group" v-if="!loggedIn">
           <label for="yourEmailInput">Your Email Address</label>
           <input class="form-control" type="email" v-model="email">
       </div>
       <button class="btn btn-primary" @click="submitMergeRequest">Submit Merge Request</button>
       <div class="alert alert-danger" v-if="error">${ error } <button type="button" class="close" @click="clearError"><span class="fas fa-times"></span></button></div>
       <div class="alert alert-primary" v-if="success">${ success } <button type="button" class="close" @click="clearSuccess"><span class="fas fa-times"></span></button></div>
    </div>
</div>

<script>
	function getCookie(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        let cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            let cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	const api = axios.create();
	api.interceptors.request.use(config => {
		config.headers['X-CSRFToken'] = getCookie('csrftoken');
		return config;
	});

    function sendAutocompleteRequest(query) {
        this.isLoading = true;
        api.get('/autocomplete/?model_name=' + this.selectedModelName + '&search=' + encodeURI(query)).then(response => {
            this.instances = response.data.matches;
            this.isLoading = false;
            this.resetContent();
        });
    }
    const debouncedAutocompleteRequest = _.debounce(sendAutocompleteRequest, 400);

    new Vue({
        delimiters: ['${', '}'],
        el: '#form',
        data: {
            isLoading: false,
            selectedModelName: 'author',
            modelOptions: [
                { label: 'Author', value: 'author' },
                { label: 'Journal', value: 'container' },
                { label: 'Platform', value: 'platform' },
                { label: 'Sponsor', value: 'sponsor' },
                { label: 'Tag', value: 'tag' }
            ],
            selectedInstances: [],
            selectedAttrValues: {'email': [], 'orcid': [], 'researcherid': []},
            instances: [],
            newContent: {'given_name': '', 'family_name': '', 'name': '', 'orcid': '', 'researcherid': '', 'email': ''},
            email: '',
            error: '',
            success: '',
            loggedIn: {% if request.user.is_anonymous %}false{% else %}true{% endif %}
        },
        methods: {
            addInstance(instances) {
                this.selectedInstances = instances;
                Vue.set(this.selectedAttrValues, 'email', instances.filter(a => !_.isEmpty(a.email)).map(a => a.email));
                this.selectedAttrValues.orcid = instances.filter(a => !_.isEmpty(a.orcid)).map(a => a.orcid);
                this.selectedAttrValues.researcherid = instances.filter(a => !_.isEmpty(a.researcherid)).map(a => a.researcherid);
            },
            resetContent() {
                this.newContent = {'given_name': '', 'family_name': '', 'name': '', 'orcid': '', 'researcherid': '', 'email': ''};
            },
            findCompletions: debouncedAutocompleteRequest,
            submitMergeRequest() {
                const data = { 'model_name': this.selectedModelName, 'instances': this.selectedInstances, 'new_content': this.newContent };
                if (!this.loggedIn) {
                    data['email'] = this.email;
                }
                api.post('', data).then(response => {
                    this.clearError();
                    this.selectedInstances = [];
                    this.resetContent();
                    this.selectedAttrValues = {'email': [], 'orcid': [], 'researcherid': []};
                    this.name = '';
                    this.success = "Merge Submission Successful";
                }).catch(error => {
                    this.error = error.response.data;
                });
            },
            clearError() {
                this.error = '';
            },
            clearSuccess() {
                this.success = '';
            }
        }
    });
</script>
{% endblock %}
