{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}CoMSES Catalog Sign In{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-lock"></i> Sign in
    </div>
    <div class='panel-body'>
        <div class="well bg-warning">
            {# FIXME: replace with styled password reset eventually #}
            Forgot your password? <a href="{% url 'password_reset' %}">Request a password reset here</a>.
        </div>
        <div class="col-md-8">
            <form id='signin-form' role="form" class="form-horizontal" method="post">
                {% csrf_token %}
                {%  bootstrap_form form layout="horizontal" field_class="col-md-6"%}
                {% buttons layout='horizontal'%}
                    <button type="submit" class="btn btn-primary">
                        <i class='fa fa-sign-in'></i> Sign In
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
