{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}

    <form id='curatorPublicationDetailForm' method="post" role="form">
        <div class="row">
            <div class="col-md-6">
                <div class='panel panel-default assigned-panel-group' data-mh='assigned-panel-group'>
                    <div class='panel-heading'>
                        <h4 class='panel-title'>Assigned to
                            <mark>
                                <span data-bind='ifnot: assigned_curator'>nobody</span>
                                <span data-bind='text: assigned_curator'></span>
                            </mark>
                        </h4>
                    </div>
                    <div class='panel-body'>
                        <b>Journal:</b> <span data-bind="text: container.name"></span><br>
                        <b>Volume:</b> <span data-bind='text: volume'></span><br>
                        <b>Pages:</b> <span data-bind='text: pages'></span><br>
                        <b>Year Published:</b> <span data-bind="text: year_published"></span><br>
                        <b>Last modified:</b> <span data-bind='text: date_modified'></span>
                        <div><b>Author(s):</b>
                            <ul class='list-inline' data-bind="foreach: creators">
                                <li><a target='_blank'
                                       data-bind='attr: { href: $root.googleScholarAuthorSearch($data) }'>
                                    <span data-bind="text: given_name"></span> <span
                                        data-bind="text: family_name"></span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        <ul class='list-group'>
                            <li class='list-group-item asu-maroon'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <i class='fa fa-university'></i>
                                        <b>ASU Library</b>
                                    </div>
                                    <div class='col-md-8'>
                                        <div class='btn-group'>
                                            <a class='btn btn-sm btn-info' target='_blank'
                                               data-bind='attr: { href: asuLibraryTitleLink() }'>
                                                <i class='fa fa-pencil'></i>
                                                Search Title Only
                                            </a>
                                            <a class='btn btn-sm btn-info' target='_blank'
                                               data-bind='attr: { href: asuLibraryAuthorLink() }'>
                                                <i class='fa fa-pencil-square'></i>
                                                Search Title and Author
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class='list-group-item google-blue'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <i class='fa fa-graduation-cap'></i>
                                        <b>Google Scholar</b>
                                    </div>
                                    <div class='col-md-8'>
                                        <div class='btn-group'>
                                            <a class='btn btn-sm btn-info' target='_blank'
                                               data-bind="attr: { href: googleScholarTitleLink() }">
                                                <i class='fa fa-pencil'></i> Search Title Only
                                            </a>
                                            <a target='_blank' class='btn btn-sm btn-info'
                                               data-bind="attr: { href: googleScholarAuthorLink() }">
                                                <i class='fa fa-pencil-square'></i> Search Title and Author
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class='list-group-item'>
                                APA Citation:
                                <div data-bind='text: apa_citation_string'></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <note-detail params="notes: notes, pub_id: id"></note-detail>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class='panel-group' id='activity-accordion' role='tablist' aria-multiselectable='false'>
                    <div class='panel panel-default'>
                        <div class='panel-heading'><h5 class='panel-title'><i class='fa fa-history'></i>
                            Activity Log</h5></div>
                        <div class='panel-body' data-bind='foreach: activity_logs'
                             style='max-height: 400px; overflow-y: scroll;'>
                        <span>
                            Creator <strong data-bind='text: creator'></strong> took
                            action <mark data-bind='text: action'></mark>
                        </span>
                            <span class='pull-right'>
                            <mark class='bg-info' data-bind='text: date_added'></mark>
                        </span>
                            <ul class='list-group' data-bind='foreach: auditlogs'>
                                <li class='list-group-item'>
                                    <u data-bind='text: action'></u> on
                                    <em data-bind='text: table'></em>:
                                    <span data-bind='text: message'></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-6 form-group'>
                <label class="control-label" for="id_model_documentation">Model documentation</label>
                <label for='model_documentation_none'>
                    <input type='checkbox' id='model_documentation_none'
                           data-bind='click: clearModelDocumentation, checked: hasNoModelDocumentation'>None
                </label>
                <select multiple class="form-control" id="id_model_documentation" name="model_documentation"
                        data-bind="selectize: modelDocumentationCategoryLists, selectedOptions: selectedModelDocumentations, optionsValue: 'name', options: { optgroups: modelDocumentationCategories(), optgroupField: 'category', optgroupLabelField: 'category', optgroupValueField: 'category', options: modelDocumentationCategoryLists(), plugins: ['optgroup_columns']}">
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label" for="id_platforms">Platforms</label>
                <select multiple class="form-control" id="id_platforms" name="platforms"
                        data-bind="selectize: platforms, selectedOptions: selectedPlatforms, optionsValue: 'name', options: { create: true, load: getPlatformList, create: function(input) { return { name: input, id: input }}}">
                </select>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12 form-group">
                <label class="control-label" for="id_sponsors">Sponsors</label>
                <select multiple class="form-control" id="id_sponsors" name="sponsors"
                        data-bind="selectize: sponsors, selectedOptions: selectedSponsors, optionsValue: 'name', options: { create: true, load: getSponsorList }">
                </select>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12 form-group">
                <label class="control-label" for="id_tags">Keywords</label>
                <div data-bind="foreach: tags" style="line-height: 2em;">
                    <mark class="bg-info" data-bind="text: name"></mark>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12 form-group'>
                <label class="control-label" for="id_code_archive_url">Code Archive URL</label>
                <div class='input-group'>
                    <span class='input-group-addon'><i class='fa fa-code'></i> </span>
                    <input class="form-control" id="id_code_archive_url" maxlength="255" name="code_archive_url"
                           placeholder="Code archive url" type="url" data-bind="value: code_archive_url">
                    <span class='input-group-addon'>
                    <!-- ko if: validCodeArchiveUrl -->
                    <strong><a target='_blank' data-bind='attr: {href: codeArchiveUrl()}'>View
                            <i class='fa fa-external-link'></i></a></strong>
                        <!-- /ko -->
                        <!-- ko ifnot: validCodeArchiveUrl -->
                    <span>View <i class='fa fa-external-link'></i></span>
                        <!-- /ko -->
                </span>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6 form-group">
                <label class="control-label" for="id_contact_author">Contact author name</label>
                <input class="form-control" id="id_contact_author" maxlength="75" name="contact_author"
                       placeholder="Corresponding Author" type="text" data-bind="value: contact_author_name">
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label" for="id_contact_email">Contact email</label>
                <input class="form-control" id="id_contact_email" maxlength="75" name="contact_email"
                       placeholder="Contact email" type="email" data-bind="value: contact_email">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-11 form-group'>
                <label class="control-label" for="id_status">Status
                    <span class="label label-as-badge label-primary" data-bind="text: status"></span>
                </label>
                <select class="form-control" id="id_status"
                        data-bind="options: publicationStatuses, optionsText: publicationStatus, value: status">
                </select>
            </div>
            <div class='col-md-1 form-group'>
                <label class="control-label" for="id_flagged">
                    <span class="label label-as-badge"
                          data-bind="css: flaggedCssLabel, text: flagged() ? 'Flagged' : 'Unflagged'"></span>
                </label>
                <input class="form-control" type="checkbox" data-bind="checked: flagged">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12 form-group'>
                <button type="button" class="btn btn-primary" data-bind="click: savePublication"><i
                        class="fa fa-floppy-o"></i> Save
                </button>
                <a class='btn btn-default' href='{{ curator_workflow_url }}'>
                    <i class='fa fa-arrow-left'></i> Back to assigned publications
                </a>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    {% include "includes/note_form.html" %}

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js'></script>

    <script type="text/javascript">
        var viewModelJson = $.parseJSON("{{ json | escapejs }}");
        if (!viewModelJson.container) {
            viewModelJson.container = {'name': null};
        }
        if (!viewModelJson.model_documentation) {
            viewModelJson.model_documentation = {'name': null};
        }
        $(function () {
            var PublicationDetail = function (data) {
                var self = this;
                data = DataPreparation.prepare_viewModelJson(data);
                ko.mapping.fromJS(data, {}, self);

                self.hasNoModelDocumentation = ko.observable(false);
                if (self.model_documentation().length === 1) {
                    md = self.model_documentation()[0];
                    console.debug(md.name());
                    if (md.name() == 'None') {
                        console.debug("yeah");
                        self.hasNoModelDocumentation(true);
                    }
                }
                self.clearModelDocumentation = function () {
                    self.selectedModelDocumentations([]);
                    return true;
                };
                self.modelDocumentationCategories = ko.observableArray({{model_documentation_categories_json|safe}});
                self.modelDocumentationCategoryLists = ko.pureComputed(function () {
                    var list = [];
                    ko.utils.arrayForEach(self.modelDocumentationCategories(), function (mdc) {
                        list = list.concat(mdc.modelDocumentationList);
                    });
                    return list;
                });
                self.flaggedCssLabel = ko.pureComputed(function () {
                    return self.flagged() ? "label-danger" : "label-info";
                });
                self.modelDocumentationList = ko.observableArray({{model_documentation_list_json|safe}});
                self.selectedTags = ko.observableArray(ko.utils.arrayMap(self.tags(), function (tag) {
                    return tag.name();
                }));
                self.selectedPlatforms = ko.observableArray(ko.utils.arrayMap(self.platforms(), function (platform) {
                    return platform.name();
                }));
                self.selectedSponsors = ko.observableArray(ko.utils.arrayMap(self.sponsors(), function (sponsor) {
                    return sponsor.name();
                }));
                self.selectedModelDocumentations = ko.observableArray(ko.utils.arrayMap(self.model_documentation(), function (md) {
                    return md.name();
                }));
                self.containers = ko.observableArray([data.container || ""]);
                self.googleScholarAuthorSearch = function (creator) {
                    return ko.pureComputed(function () {
                        return $.urls.SEARCH_GOOGLE_SCHOLAR
                            + "&as_sauthors="
                            + encodeURIComponent(creator.given_name() + ' ' + creator.family_name());
                    });
                };
                self.authorLastNames = ko.pureComputed(function () {
                    return ko.utils.arrayMap(self.creators(), function (creator) {
                        return creator.family_name()
                    }).join(' ');
                });
                self.googleScholarTitleLink = ko.pureComputed(function () {
                    return $.urls.SEARCH_GOOGLE_SCHOLAR + encodeURIComponent(self.title());
                });
                self.googleScholarAuthorLink = ko.pureComputed(function () {
                    return $.urls.SEARCH_GOOGLE_SCHOLAR + encodeURIComponent(self.title()) +
                        '&as_sauthors=' + encodeURIComponent(self.authorLastNames());
                });
                self.asuLibraryTitleLink = ko.pureComputed(function () {
                    return 'https://arizona-asu-primo.hosted.exlibrisgroup.com/primo-explore/search?query=title,contains,' + encodeURIComponent(self.title()) + 
                        '&tab=default_tab&search_scope=Everything&sortby=rank&vid=01ASU&lang=en_US&mode=advanced&offset=0';

                });
                self.asuLibraryAuthorLink = ko.pureComputed(function () {
                    return 'https://arizona-asu-primo.hosted.exlibrisgroup.com/primo-explore/search?query=title,contains,' + encodeURIComponent(self.title())
                        + ',AND&query=creator,contains,' + encodeURIComponent(self.authorLastNames()) + 
                        '&tab=default_tab&search_scope=Everything&sortby=rank&vid=01ASU&lang=en_US&mode=advanced&offset=0';

                });
                self.validCodeArchiveUrl = ko.pureComputed(function () {
                    url = self.code_archive_url();
                    return url && validator.isURL(url);
                });
                self.codeArchiveUrl = ko.pureComputed(function () {
                    if (self.validCodeArchiveUrl()) {
                        return self.code_archive_url();
                    }
                    return '#id_code_archive_url';
                });
                self.publicationStatuses = ko.pureComputed(function () {
                    return Object.keys(self.status_options);
                });
                self.publicationStatus = function (status) {
                    return self.status_options[status];
                };
                self.getPlatformList = function (query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:platform_search' %}");
                };
                self.getSponsorList = function (query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:sponsor_search' %}");
                };
                self.getTagList = function (query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:tag_search' %}");
                };
                self.getJournalList = function (query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:journal_search' %}");
                };
                self.getModelDocumentationList = function (query, callback) {
                    self.makeAsyncRequest(query, callback, "{% url 'core:model_documentation_search' %}");
                };

                self.makeAsyncRequest = function (query, callback, url) {
                    if (!query.length) return callback();
                    $.getJSON(url + "?q=" + encodeURIComponent(query))
                        .done(function (res) {
                            callback(JSON.parse(res).slice(0, 5));
                        }).fail(function () {
                        callback();
                    });
                };
                self.makeRequest = function (request_type, data, url) {
                    return $.ajax({
                        type: request_type,
                        url: url,
                        data: data,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    }).fail(function (result) {
                        humane.log("Something went wrong, Please verify the form data and try again.", {timeout: 5000});
                    });
                };
                self.savePublication = function (data, event) {

                    {% comment "FIXME: Add client-side validation " %}
                        var form = $('#curatorPublicationDetailForm');
                        if (!form.valid()) {
                            form.showErrors();
                            return false;
                        }
                    {% endcomment %}

                    var data_clone = ko.mapping.fromJS(ko.mapping.toJS(data));
                    data_clone.platforms(ko.utils.arrayMap(data.selectedPlatforms(), function (platform) {
                        return {'name': platform};
                    }));
                    data_clone.sponsors(ko.utils.arrayMap(data.selectedSponsors(), function (sponsor) {
                        return {'name': sponsor};
                    }));

                    if(self.validCodeArchiveUrl()){
                        if( data.selectedModelDocumentations.indexOf('Source code') < 0 ){
                            data.selectedModelDocumentations.push('Source code');
                        }
                    }else{
                        if(data.selectedModelDocumentations.indexOf('Source code') >= 0 ){
                            data.selectedModelDocumentations.remove('Source code');
                        }
                    }

                    if (data.selectedModelDocumentations().length > 0) {
                        data_clone.model_documentation(ko.utils.arrayMap(data.selectedModelDocumentations(), function (md) {
                            return {'name': md};
                        }));
                        data.hasNoModelDocumentation(false);
                    }
                    else if (data.hasNoModelDocumentation() || data.selectedModelDocumentations().length == 0) {
                        data.hasNoModelDocumentation(true);
                        data_clone.model_documentation([{'name': 'None'}]);
                    }

                    if (data_clone.container.name() === undefined) {
                        if (data.containers()[0].name) {
                            data_clone.container.name = ko.observable(data.containers()[0].name);
                        } else {
                            data_clone.container = null;
                        }
                    } else if (data_clone.container.name() === "") {
                        data_clone.container = null
                    }
                    self.makeRequest("PUT", ko.toJSON(data_clone), window.location.pathname).done(function (result) {
                        result = DataPreparation.prepare_viewModelJson(result);
                        ko.mapping.fromJS(result, self);
                        humane.log("Data saved successfully.", {timeout: 5000});
                    });
                };

            };
            var DataPreparation = {
                // For transforming the auditlogs into a format convenient for showing to the user

                delete_current_publication_label: function (auditlog, current_publication_id) {
                    // We don't want to display the publication label if we are viewing the same publication
                    if (auditlog.payload.labels.hasOwnProperty('publication')) {
                        if (auditlog.payload.data.publication_id === current_publication_id) {
                            delete auditlog.payload.labels.publication;
                        }
                    }
                },
                display_insert_or_delete_auditlog: function (auditlog, current_publication_id) {
                    var self = this;

                    var labels = auditlog.payload.labels;

                    self.delete_current_publication_label(auditlog, current_publication_id);

                    var keys = Object.keys(labels);
                    var message;
                    if (keys.length === 1) {
                        message = labels[keys[0]];
                    } else if (keys.length === 0) {
                        message = auditlog.message;
                    } else {
                        message = keys.map(function (key) {
                            return '' + key + ': ' + labels[key];
                        }).join(', ');
                    }

                    return {'action': auditlog.action, 'table': auditlog.table, 'message': message};
                },
                display_update_auditlog: function (auditlog, current_publication_id) {
                    var labels = auditlog.payload.labels;
                    var data = auditlog.payload.data;

                    var keys = Object.keys(data);
                    var message;
                    if (keys.length === 0) {
                        message = auditlog.message;
                    } else {
                        message = keys.map(function (key) {
                            var old_value, new_value;
                            if (labels.hasOwnProperty(key)) {
                                old_value = labels[key]['old'] || '""';
                                new_value = labels[key]['new'] || '""';
                            } else {
                                old_value = data[key]['old'] || '""';
                                new_value = data[key]['new'] || '""';
                            }
                            return '' + key + ': ' + old_value + ' -> ' + new_value;
                        }).join(', ');
                    }
                    return {'action': auditlog.action, 'table': auditlog.table, 'message': message};
                }
                ,
                display_auditlog: function (auditlog, current_publication_id) {
                    var self = this;
                    switch (auditlog.action) {
                        case 'INSERT':
                        case 'DELETE':
                            return self.display_insert_or_delete_auditlog(auditlog, current_publication_id);
                        case 'UPDATE':
                            return self.display_update_auditlog(auditlog, current_publication_id);
                    }
                }
                ,
                filter_other_publications_factory: function (current_publication_id) {
                    return (function (auditlog) {
                        return (auditlog.table === 'publication' && auditlog.row_id === current_publication_id) ||
                            (auditlog.table !== 'publication');
                    });
                }
                ,
                prepare_viewModelJson: function (viewModelJson) {
                    var self = this;
                    var filter_other_publications = self.filter_other_publications_factory(viewModelJson.id);
                    viewModelJson.activity_logs = viewModelJson.activity_logs.map(function (activity_log) {
                        activity_log.auditlogs = activity_log.auditlogs.filter(filter_other_publications);
                        activity_log.auditlogs = activity_log.auditlogs.map(function (auditlog) {
                            return self.display_auditlog(auditlog, viewModelJson.id);
                        });
                        return activity_log;
                    });
                    return viewModelJson;
                }
            };
            var model = new PublicationDetail(viewModelJson);
            ko.applyBindings(model);
            $('.assigned-panel-group').matchHeight();
        });
    </script>
{% endblock javascript %}
