{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Comses Catalog Web Login{% endblock %}

{% block content %}

<div class="container">
    <div class="widget-wrapper">
        <div class="widget-head">
            <i class="fa fa-newspaper-o"></i> Welcome:
        </div>
        <div class="widget-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend nulla id dignissim finibus. Suspendisse ultrices vulputate nibh ultricies pulvinar. Etiam iaculis in nulla vel lacinia. Donec a mi semper, malesuada diam at, varius lorem. Cras a ipsum lorem. Nam bibendum vulputate consectetur. Fusce lacinia metus a convallis malesuada. Duis faucibus sodales dui, sed suscipit mauris semper sit amet. Nullam dapibus nulla nec sapien eleifend ullamcorper.</p>
            <p>Duis cursus sem vitae euismod bibendum. Donec posuere et odio eget vestibulum. Duis commodo nunc est, sit amet imperdiet libero tristique eu. Etiam egestas, nulla sit amet rutrum finibus, augue ante dapibus orci, et dapibus odio ex auctor purus. Fusce mattis quam in justo accumsan, et eleifend odio semper. In in venenatis leo. Aliquam et ultrices ligula. Sed venenatis tincidunt ante eget tempor. Donec ut dictum mi, sit amet tincidunt risus. Vestibulum turpis ligula, ullamcorper sed orci ut, convallis eleifend enim. Curabitur gravida bibendum nunc. Suspendisse potenti.</p>
            <p>Donec vitae venenatis augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc faucibus pulvinar imperdiet. Duis nec posuere lorem. Mauris ut magna ac leo condimentum aliquet id vitae turpis. Aliquam sit amet lacus est. Vestibulum a mi massa. Aenean consectetur mattis purus, sed interdum ligula dignissim eu. Morbi tempor purus ullamcorper auctor dictum. Pellentesque sodales urna eu augue tincidunt, vitae porta diam efficitur. Aenean vel pretium erat, et posuere dui. Integer pharetra blandit erat, in commodo magna. In a arcu a libero maximus sollicitudin non eget tellus. Cras eleifend massa risus, facilisis pharetra dui pellentesque vitae.</p>
            <p>Etiam vel metus finibus, ultricies arcu non, malesuada diam. Phasellus faucibus tincidunt rhoncus. Proin vel sem ut urna maximus dapibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sodales ante at convallis posuere. Aliquam scelerisque sapien ex, dignissim facilisis diam molestie ut. Donec eleifend mauris rhoncus porta facilisis. Praesent pharetra vitae quam vitae ultrices. In hac habitasse platea dictumst. Duis nec varius quam.</p>
        </div>
        <div class="widget-foot">
             © 2011-2014 Arizona Board of Regents
        </div>
    </div>
</div>

{% endblock content %}
