{% extends 'base.html' %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="widget-wrapper">
        <div class="widget-head">
            <h4>Publications</h4>
        </div>
        <div class="widget-content clearfix">
            <table class="table table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
                <thead>
                    <tr>
                    {% for column in table.columns %}
                        {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                        {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                    <tr class="{% cycle "odd" "even" %}">
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% empty %}
                        <tr><td colspan="{{ table.columns|length }}">No Publications in the database to show.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="widget-foot clearfix text-center">
            {% if table.page %}
            {% with table.page.paginator.count as total %}
                <div> {% blocktrans with table.page.number as current and table.paginator.num_pages as total_pages %}Page {{ current }} of {{ total_pages }}. Total entries: {{ total }}{% endblocktrans %}
                </div>
                {% bootstrap_pagination table.page url=request.get_full_path %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock content %} 
