{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="widget-wrapper">
        <div class="widget-head">
            <h3>Publications</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date Published</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: results">
                    <tr>
                        <td>
                            <a href="#" data-bind="attr:{href: url()}, text: title"></a>
                        </td>
                        <td data-bind="text: date_published"></td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pager">
                    <li class="previous" data-bind="css: {disabled: !canGoPrevious()}"><a href="#" data-bind="attr:{href: previous}"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                    <li data-bind="text: tableInfo"></li>
                    <li class="next" data-bind="css: {disabled: !canGoNext()}"><a href="#" data-bind="attr:{href: next}">Next Page<span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            <publication-detail></publication-detail>
        </div>
{% endblock content %}

{% block javascript %}
    {% include "includes/publication_detail_form.html" %}

    <script type="text/javascript">
        var viewModelJson = $.parseJSON("{{ json | escapejs }}");
        var publication_url = "{% url 'publications' %}"

        $(function(){
            var Publication =  function(data) {
                var self = this;
                ko.mapping.fromJS(data, {}, self);
                self.url = function() {
                    return publication_url + "/" + self.id();
                }
            }

            var PagedPublicationGridModel = function(data) {
                var pubs_mapping = {
                    'results': {
                        create: function(options) {
                            return new Publication(options.data);
                        }
                    }
                };
                var model = ko.mapping.fromJS(data, pubs_mapping, self)

                model.tableInfo = ko.computed(function() {
                    return "Showing "+ model.start_index() + " to " + model.end_index() + " of " + model.count() + " entries";
                });
                model.canGoNext = ko.dependentObservable(function() {
                    return model.next() ? true : false;
                });
                model.canGoPrevious = ko.dependentObservable(function() {
                    return model.previous() ? true : false;
                });
            };

            ko.applyBindings(new PagedPublicationGridModel(viewModelJson));
        });
    </script>
{% endblock javascript %}
