{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="clearfix">
        <form method="get" class="col-md-3" role="form">
            <h4>Filter Criteria</h4>
            {% bootstrap_form filter.form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-filter"></i> Filter
                </button>
            {% endbuttons %}
        </form>
    </div>
    <div data-bind="template: { name: 'currentTmpl', data: currentStep }"></div>
    <button data-bind="click: goPrevious, enable: canGoPrevious">Previous Step</button>
    <button data-bind="click: goNext, enable: canGoNext">Next Step</button>
{% endblock content %}

{% block javascript %}
    <!-- External Javascript Libraries -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js'></script>

    <!-- Templates -->
    <script id="currentTmpl" type="text/html">
        <h2 data-bind="text: name"></h2>
        <div data-bind="template: { name: getTemplate, data: model }"></div> 
    </script>
    <script id="choicePubTmpl" type="text/html">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" data-bind="checked: allSelected"/></th>
                    <th>Title</th>
                    <th>Date Published</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: results">
                <tr>
                    <td><input type="checkbox" data-bind="checked: isSelected"/></td>
                    <td>
                        <a href="#" data-bind="attr:{href: publicationURL}, text: title"></a>
                    </td>
                    <td data-bind="text: date_published"></td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li class="previous" data-bind="css: {disabled: !canGoPrevious()}"><a href="#" data-bind="attr:{href: previous}"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                <li data-bind="text: tableInfo"></li>
                <li class="next" data-bind="css: {disabled: !canGoNext()}"><a href="#" data-bind="attr:{href: next}">Next Page<span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </script>
    <script id="basicTmpl" type="text/html">
        <div data-bind="text: message"></div>
    </script>
    <script id="choiceTmpl" type="text/html">
        <input type="checkbox" data-bind="checked: choiceOne" /> Choice One <br/>
        <input type="checkbox" data-bind="checked: choiceTwo" /> Choice Two
    </script>
    <script id="confirmTmpl" type="text/html">
        <button data-bind="click: confirm">Confirm</button>
    </script>
    <script type="text/javascript">
        var viewModelJson = $.parseJSON("{{ view_model_json | escapejs }}");

        $(function(){
            function Step(id, name, template, model) {
               var self = this;
               self.id = id;
               self.name = ko.observable(name);
               self.template = template;
               self.model = ko.observable(model);

               self.getTemplate = function() {
                   return self.template;
               }
            }

            var Publication =  function(data) {
                var self = this;
                ko.mapping.fromJS(data, {}, self);
                self.publicationURL = ko.computed(function() {
                    return window.location.pathname + self.id()
                });
                self.isSelected = ko.observable(false);
            }

            var PagedPublicationGridModel = function(data) {
                var self = this;
                var pubs_mapping = {
                        'results': {
                             create: function(options) {
                                return new Publication(options.data);
                        }
                    }
                };

                var model = ko.mapping.fromJS(data, pubs_mapping, self)

                model.allSelected = ko.computed({
                    read: function() {
                        var firstUnchecked = ko.utils.arrayFirst(model.results(), function(item) {
                            return item.isSelected() == false;
                        });
                        return firstUnchecked == null;
                    },
                    write: function(value) {
                        ko.utils.arrayForEach(self.results(), function(item) {
                            item.isSelected(value);
                        });
                    }
                });

                model.tableInfo = ko.computed(function() {
                    return "Showing "+ model.start_index() + " to " + model.end_index() + " of " + model.count() + " entries";
                });

                model.canGoNext = ko.dependentObservable(function() {
                    return model.next() ? true : false;
                });

                model.canGoPrevious = ko.dependentObservable(function() {
                    return model.previous() ? true : false;
                });

            };

            var WizardViewModel = function(data) {
                var self = this;
                self.stepModels = ko.observableArray([
                    new Step(1, "Select Publications", "choicePubTmpl", new PagedPublicationGridModel(data)),
                    new Step(2, "Contruct Email", "choiceTmpl", { choiceOne: ko.observable(false), choiceTwo: ko.observable(false) }),
                    new Step(3, "Confirmation", "confirmTmpl", { confirm: function() {self.currentStep(self.stepModels()[3]); } } ),
                    new Step(4, "Done!", "basicTmpl", { message: "you are finished!" })
                ]);

                self.currentStep = ko.observable(self.stepModels()[0]);

                self.currentIndex = ko.dependentObservable(function() {
                    return self.stepModels.indexOf(self.currentStep());
                });

                self.getTemplate = function(data) {
                     return self.currentStep().template();
                };

                self.canGoNext = ko.dependentObservable(function() {
                    return self.currentIndex() < self.stepModels().length - 1;
                });

                self.goNext = function() {
                    if (self.canGoNext()) {
                         self.currentStep(self.stepModels()[self.currentIndex() + 1]);
                    }
                };

                self.canGoPrevious = ko.dependentObservable(function() {
                    return self.currentIndex() > 0;
                });

                self.goPrevious = function() {
                    if (self.canGoPrevious()) {
                         self.currentStep(self.stepModels()[self.currentIndex() - 1]);
                    }
                };
            };
            console.log(viewModelJson)
            ko.applyBindings(new WizardViewModel(viewModelJson));
        });
    </script>
{% endblock javascript %}
