{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div cass="row">
        <form method="post" class="form">
            {% csrf_token %}
            <h2>Publication
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </h2>
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
               <i class="fa fa-floppy-o"></i> Save
            </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}
