html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 1.5em;
    margin-bottom: 70px;
}
.dashboard-box {
    height: 150px;
}
.publication-title {
    line-height: 1.5em;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}
.google-blue {
    color: #4d90fe;
}
.asu-maroon {
    color: #990033;
}
.asu-gold {
    color: #ffb310;
}
.asu-green {
    color: #568e14;
}
.asu-blue {
    color: #008ed6;
}
.asu-orange {
    color: #f47c00;
}
.asu-grey {
    color: #AFA593;
}
.label-as-badge {
    border-radius: 1em;
}
.label-as-badge-lg {
    border-radius: 1em;
    font-size: 1em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #990033;
    color: #ffffff;
    font-size: .9em;
}
.nav-footer>li>a {
    color: #ffffff;
    text-decoration: underline;
}
.nav-footer {
    margin-top: 25px;
    text-align: center;
    color: #ffffff;
}
#content {
    margin-top: 60px;
}
#signin-form, .cas-login {
    padding: 25px;
}
.cas-login a.submit {
    background-color: #8C1D40;
    color: #FFF;
}

.cas-login a.submit:hover {
    color: #fff;
    background-position: 0 -35px;
    text-decoration: none;
}

.table-container th.asc:after {
  content: '\0000a0\0025b2';
}
.table-container th.desc:after {
  content: '\0000a0\0025bc';
}
.pagination {
  text-align: center;
}
.label-untagged {
    background-color: #29ade0;
}
.label-needs_author_review {
    background-color: #ff851b;
}
.label-invalid, .label-flagged {
    background-color: #ff4136;
}
.label-complete {
    background-color: #28b62c;
}
/* Honeypot Field */
input#id_contact_number {
    display: none;
}

