{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-success dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><a href="{{ search_url }}?status=COMPLETE">Complete</a></h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center"><a href="{{ search_url }}?status=COMPLETE">{{status.COMPLETE|default:"0"}}</a></h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><a href="{{ search_url }}?q=&publication_start_date=&publication_end_date=&status=">All Publications</a></h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center"><a href="{{ search_url }}?q=&publication_start_date=&publication_end_date=&status=">{{status.TOTAL|default:"0"}}</a></h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><a href="{{ search_url }}?status=UNTAGGED">Not reviewed</a></h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center"><a href="{{ search_url }}?status=UNTAGGED">{{status.UNTAGGED|default:"0"}}</a></h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-warning dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><a href="{{ search_url }}?status=NEEDS_AUTHOR_REVIEW">Author Review</a></h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center"><a href="{{ search_url }}?status=NEEDS_AUTHOR_REVIEW">{{status.NEEDS_AUTHOR_REVIEW|default:"0"}}</a></h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><a href="{{ search_url }}?status=AUTHOR_UPDATED">Author Updated</a></h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center"><a href="{{ search_url }}?status=AUTHOR_UPDATED">{{status.AUTHOR_UPDATED|default:"0"}}</a></h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-danger dashboard-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><a href="{{ search_url }}?status=FLAGGED">Flagged</a></h3>
                </div>
                <div class="panel-body">
                    <h1 class="text-center"><a href="{{ search_url }}?status=FLAGGED">{{status.FLAGGED|default:"0"}}</a></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recently Updated Publications</h3>
                </div>
                <div class="panel-body">
                    {% if recently_updated %}
                    <table class="table table-striped">
                        <thead><tr><th class='col-sm-1'>Curator</th><th>Title</th><th class='col-sm-2'>Last Modified</th></thead>
                        <tbody>
                        {% for pub in recently_updated %}
                            <tr>
                                <td><mark>{{ pub.assigned_curator }}</mark></td>
                                <td><span class='label label-as-badge label-primary'>{{ pub.status }}</span> <a href="{% url 'citation:publication_detail' pub.pk %}">{{ pub.title }} </a></td>
                                <td>{{ pub.date_modified }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        No recently updated publications found.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Author Updates</h3>
                </div>
                <div class="panel-body">
                    {% if recently_author_updated|length > 0 %}
                    <table class="table">
                        <thead><tr><th>ID</th><th>Date Modified</th><th>Publication Title</th></thead>
                        <tbody>
                        {% for pub in recently_author_updated %}
                            <tr>
                                <td>{{ pub.pk}}</td>
                                <td>{{ pub.date_modified }}</td>
                                <td><a href="{% url 'citation:publication_detail' pub.pk %}">{{ pub.title }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        No publications have been updated by authors recently. 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
