<script type="text/html" id="publication_detail_form">
    <div class="widget-wrapper">
        <div class="widget-head">
            <h3>Publication
            <button type="button" class="btn btn-xs btn-primary" data-bind="click: savePublication"><i class="fa fa-floppy-o"></i> Save
            </button></h3>
        </div>
        <div class="widget-content clearfix">
            <form role="form">
                <div class="col-md-12">
                    <label class="control-label" for="id_title">Title</label>
                    <input type="text" class="form-control" id="id_title" name="title" placeholder="Title" required="required" rows="2" data-bind="value: title" />
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="id_journal">Journal</label>
                    <select class="form-control" id="id_journal" name="journal" data-bind="selectize: journals, value: journal.name, optionsValue: 'name', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getJournalList }"></select>
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="id_model_documentation">Model documentation</label>
                    <select class="form-control" id="id_model_documentation" name="model_documentation" data-bind="selectize: model_docs, value: model_documentation.value, optionsText: 'value', optionsValue: 'value', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getModelDocList }"></select>
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="id_abstract">Abstract</label>
                    <textarea class="form-control" id="id_abstract" name="abstract" placeholder="Abstract" required="required" rows="4" data-bind="value: abstract"></textarea>
                </div>
               <div class="col-md-12">
                    <label class="control-label" for="id_platforms">Platforms</label>
                    <select multiple="multiple" class="form-control" id="id_platforms" name="platforms" data-bind="selectize: platforms, selectedOptions: selected_platforms, optionsValue: 'name', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getPlatformList, create: function(input) { return { name: input, id: input }}}"></select>
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="id_sponsors">Sponsors</label>
                    <select multiple="multiple" class="form-control" id="id_sponsors" name="sponsors" data-bind="selectize: sponsors, selectedOptions: selected_sponsors, optionsValue: 'name', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getSponsorList }"></select>
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="id_tags">Tags</label>
                    <select multiple="multiple" class="form-control" id="id_tags" name="tags" data-bind="selectize: tags, selectedOptions: selected_tags, optionsText: 'value', optionsValue: 'value', options: { dropdownParent: 'body', create: true, closeAfterSelect: true, load: getTagList }"></select>
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="id_status">Status</label>
                    <select class="form-control" id="id_status" name="status" data-bind="value: status">
                        <option value="UNTAGGED" selected="selected">Not reviewed</option>
                        <option value="NEEDS_AUTHOR_REVIEW">Curator has reviewed publication, requires author intervention.</option>
                        <option value="FLAGGED">Flagged for further internal review by CoMSES staff</option>
                        <option value="AUTHOR_UPDATED">Updated by author, needs CoMSES review</option>
                        <option value="COMPLETE">Reviewed and verified by CoMSES</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_short_title">Short title</label>
                    <input class="form-control" id="id_short_title" maxlength="255" name="short_title" placeholder="Short title" type="text" data-bind="value: short_title">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_url">Url</label>
                    <input class="form-control" id="id_url" maxlength="200" name="url" placeholder="Url" type="url" data-bind="value: url" />
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_date_published">Date published</label>
                    <input class="form-control" id="id_date_published" name="date_published" placeholder="Date published" type="text" data-bind="value: date_published">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_date_accessed">Date accessed</label>
                    <input class="form-control" id="id_date_accessed" name="date_accessed" placeholder="Date accessed" type="text" data-bind="value: date_accessed">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_archive">Archive</label>
                    <input class="form-control" id="id_archive" maxlength="255" name="archive" placeholder="Archive" type="text" data-bind="value: archive">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_archive_location">Archive location</label>
                    <input class="form-control" id="id_archive_location" maxlength="255" name="archive_location" placeholder="Archive location" type="text" data-bind="value: archive_location">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_library_catalog">Library catalog</label>
                    <input class="form-control" id="id_library_catalog" maxlength="255" name="library_catalog" placeholder="Library catalog" type="text" data-bind="value: library_catalog">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_call_number">Call number</label>
                    <input class="form-control" id="id_call_number" maxlength="255" name="call_number" placeholder="Call number" type="text" data-bind="value: call_number">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_rights">Rights</label>
                    <input class="form-control" id="id_rights" maxlength="255" name="rights" placeholder="Rights" type="text" data-bind="value: rights">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_extra">Extra</label>
                    <input type="text" class="form-control" id="id_extra" name="extra" placeholder="Extra" data-bind="value: extra"/> 
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_published_language">Published language</label>
                    <input class="form-control" id="id_published_language" maxlength="255" name="published_language" placeholder="Published language" required="required" type="text" data-bind="value: published_language">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_code_archive_url">Code archive url</label>
                    <input class="form-control" id="id_code_archive_url" maxlength="255" name="code_archive_url" placeholder="Code archive url" type="url" data-bind="value: code_archive_url">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_contact_email">Contact email</label>
                    <input class="form-control" id="id_contact_email" maxlength="75" name="contact_email" placeholder="Contact email" type="email" data-bind="value: contact_email">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_pages">Pages</label>
                    <input class="form-control" id="id_pages" maxlength="255" name="pages" placeholder="Pages" type="text" data-bind="value: pages">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_issn">Issn</label>
                    <input class="form-control" id="id_issn" maxlength="255" name="issn" placeholder="Issn" type="text" data-bind="value: issn">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_volume">Volume</label>
                    <input class="form-control" id="id_volume" maxlength="255" name="volume" placeholder="Volume" type="text" data-bind="value: volume">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_issue">Issue</label>
                    <input class="form-control" id="id_issue" maxlength="255" name="issue" placeholder="Issue" type="text" data-bind="value: issue">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_series">Series</label>
                    <input class="form-control" id="id_series" maxlength="255" name="series" placeholder="Series" type="text" data-bind="value: series">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_series_title">Series title</label>
                    <input class="form-control" id="id_series_title" maxlength="255" name="series_title" placeholder="Series title" type="text" data-bind="value: series_title">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_series_text">Series text</label>
                    <input class="form-control" id="id_series_text" maxlength="255" name="series_text" placeholder="Series text" type="text" data-bind="value: series_text">
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="id_doi">Doi</label><input class="form-control" id="id_doi" maxlength="255" name="doi" placeholder="Doi" type="text" data-bind="value: doi">
                </div>
                <!--div class="col-md-4">
                    <label class="control-label" for="id_assigned_curator">Assigned curator</label>
                    <select class="form-control" id="id_assigned_curator" name="assigned_curator" data-bind="selectize: assigned_curator"></select>
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="id_author_comments">Author comments</label>
                    <textarea class="form-control" id="id_author_comments" name="author_comments" placeholder="Author comments" rows="2" data-bind="value: author_comments"></textarea>
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="id_creators">Creators</label>
                    <select multiple="multiple" class="form-control" id="id_creators" name="creators" required="required">
                    <option value="1604">Patrick Taillandier (AUTHOR)</option>
                    </select>
                </div -->
            </form>
        </div>
        <div class="widget-foot clearfix">
            <button type="button" class="btn btn-primary" data-bind="click: savePublication"><i class="fa fa-floppy-o"></i> Save</button>
        </div>
    </div>
</script>
<script type="text/javascript">
    ko.components.register('publication-detail', {
        viewModel: function(params) {
            var defaultData = {
                title: '', abstract: '', status: '', short_title: '', url: '', date_published: '', date_accessed: '', archive: '', 
                archive_location: '', library_catalog: '', call_number: '', rights: '', extra: '', published_language: '', 
                code_archive_url: '', contact_email: '', pages: '', issn: '', volume: '', issue: '', series: '', series_title: '',
                series_text: '', doi: '', tags: [], platforms: [], sponsors: [], journal: null, model_documentation: null
            }
            //use default data for any property not found in data
            var data = $.extend(defaultData, params.data);
            if(!data.journal) data.journal = {'name': null}
            if(!data.model_documentation) data.model_documentation = {'value': null}

            var model = ko.mapping.fromJS(data, {}, this);

            model.selected_tags = ko.observableArray(ko.utils.arrayMap(model.tags(), function(tag) { return tag.value(); }));
            model.selected_platforms = ko.observableArray(ko.utils.arrayMap(model.platforms(), function(platform) { return platform.name();}));
            model.selected_sponsors = ko.observableArray(ko.utils.arrayMap(model.sponsors(), function(sponsor) { return sponsor.name();}));
            model.journals = ko.observableArray([data.journal || ""]);
            model.model_docs = ko.observableArray([data.model_documentation || ""]);

            model.getPlatformList = function(query, callback) {
                model.makeAsyncRequest(query, callback, "{% url 'platform_search' %}");
            };
            model.getSponsorList = function(query, callback) {
                model.makeAsyncRequest(query, callback, "{% url 'sponsor_search' %}");
            };
            model.getTagList = function(query, callback) {
                model.makeAsyncRequest(query, callback, "{% url 'tag_search' %}");
            };
            model.getJournalList = function(query, callback) {
                model.makeAsyncRequest(query, callback, "{% url 'journal_search' %}");
            };
            model.getModelDocList = function(query, callback) {
                model.makeAsyncRequest(query, callback, "{% url 'model_doc_search' %}");
            };

            model.makeAsyncRequest = function(query, callback, url) {
                if (!query.length) return callback();
                $.getJSON(url + "?q=" + encodeURIComponent(query))
                    .done(function(res) {
                        callback(JSON.parse(res).slice(0, 5));
                    }).fail(function() { callback(); });
            };

            model.gatherData = function(data) {
                var data_clone = ko.mapping.fromJS(ko.mapping.toJS(data));
                data_clone.platforms(ko.utils.arrayMap(data.selected_platforms(), function(platform) {
                    return {'name': platform};
                }));
                data_clone.sponsors(ko.utils.arrayMap(data.selected_sponsors(), function(sponsor) {
                    return {'name': sponsor};
                }));
                data_clone.tags(ko.utils.arrayMap(data.selected_tags(), function(tag) {
                    return {'value': tag};
                }));

                if(data_clone.journal.name() == undefined) {
                    if(data.journals()[0].name) { 
                        data_clone.journal.name = ko.observable(data.journals()[0].name);
                    } else {
                        data_clone.journal = null;
                    }
                } else if(data_clone.journal.name() == "") {
                    data_clone.journal = null
                }
                if(data_clone.model_documentation.value() == undefined) {
                    if(data.model_docs()[0].value) {
                        data_clone.model_documentation.value = ko.observable(data.model_docs()[0].value);
                    } else {
                        data_clone.model_documentation = null;
                    }
                } else if(data_clone.model_documentation.value() == "") {
                    data_clone.model_documentation = null;
                }
                return data_clone
            };
            model.savePublication = function(data, event) {
                var pub_data = model.gatherData(data);
                if(pub_data.id){ 
                    model.makeRequest("PUT", window.location.pathname, ko.toJSON(pub_data));
                } else {
                    model.makeRequest("POST", window.location.pathname, ko.toJSON(pub_data));
                }
            };
            model.makeRequest = function(request_type, url, data) {
                $.ajax({
                    type: request_type,
                    url: url,
                    data: data,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(result) {
                        humane.log("Data save was success!!", {timeout: 5000})
                    },
                    error: function(result) {
                        humane.log("Something went wrong, Please verify the from data and try again!!", {timeout: 5000});
                        console.log(result.responseJSON);
                    }
                });
            };
        },
        template: { element: 'publication_detail_form' }
    });
</script>
