{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Code Archived Location</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    </head>
    <body>
    <div id="stackedArea" class="c3-text" style="height: 380px; margin: 10px"></div>
    <p class="chart-label">The percentage of model publications split up in different categories where the
        source code of the model is available
    </p>

    <div style="margin-left: 30px; margin-top: 20px; text-align: justify">It shows the use of different locations where
        code is archived over time. This demonstrates the increase of the
        use of open source archives, especially CoMSES(OpenABM). It also demonstrates that model code that was available
        for publications about 10 years ago are often not accessible anymore. This demonstrates the importance of
        storing model code and documentation in public archives to preserve the scientific output for future
        generations.
    </div>
    </body>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        var data = {{ aggregated_data|safe }};
        var group = {{ group|safe }};

        var colors = [
            "#d62728", "#bcbd22",
            "#17becf", "#9467bd",
            "#ff7f0e", "#8c564b",
            "#2ca02c", "#1f77b4",
            "#9467bd", "#ff9896",
            "#c5b0d5", "#98df8a",
            "#aec7e8", "#c5b0d5",
            "#ffbb78", "#c49c94",
            "#e377c2", "#f7b6d2",
            "#7f7f7f", "#c7c7c7"
        ];

        // Can use default colors too...but auto color palette is not so good.
        var colorPalette = {};
        for (var i = 0; i < group.length; i++) {
            colorPalette[group[i]] = colors[i];
        }


        var chart = c3.generate({
            data: {
                x: 'x',
                columns: data,
                type: 'bar',
                groups: [
                    group
                ],
                colors: colorPalette,
            },
            axis: {
                x: {
                    padding: {left: 0.4, top: 0},
                    tick: {
                        culling: {
                            max: 40 // the number of tick texts will be adjusted to less than this value
                        },
                        fit: true,
                        format: "%y",
                    },
                    label: {
                        text: 'Year',
                        position: 'outer-center'
                    },
                    height: 50
                },
                y: {
                    label: {
                        text: 'Number of publication',
                        position: 'outer-middle'
                    },
                },
            },

            bindto: '#stackedArea'
        });


    </script>

{% endblock javascript %}