{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Staged Distribution Visualization</title>
        <meta charset="utf-8"/>
        <style type="text/css">

            .left {
                float: left;
                width: 50%;
                height: 100%;
                margin-left: 25%;
            }

            .right {
                float: right;
                margin-top: 30px;
                margin-right: 3%;
                width: 45%;
                height: 100%;
            }

            div.tooltip {
                position: absolute;
                text-align: center;
                width: 200px;
                height: 28px;
                padding: 7px;
                color: #000;
                font: 12px sans-serif;
                background: lightsteelblue;
                border: 0px;
                border-radius: 8px;
                pointer-events: none;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    </head>
    <body onload="LoadCountVizualization()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 id="name"></h3>
        </div>

        <div class="panel-body">

            <div class=" left" id="donutChart"></div>
            <div class=" right" style="text-align: justify;">The graph on this page shows the use of different
                locations where code is archived for the published publication for the selected Visualization category.
                This demonstrates which different platform like CoMSES, Open source, Personal, Journal and many more are
                preferred by the authors for storing and making the code publicly available. Below timeseries chart
                describes the number of publications on agent-based models over time. Each publication is a new or
                updated agent-based model for which computer code is used to generate the published results.
                Nevertheless, for 90% of the publications the model code is not publicly available, which will hinder
                replication of the results and the accumulation of knowledge. This demonstrates the importance of
                storing model code and documentation in public archives to preserve the scientific output for future
                generations.
            </div>

            <div class="chart-background" style="width: 98%; height: 60%;" id="stagedDistribution">
                <form action="" style="text-align: center; font-size: 12px; height: 30px; margin: 10px">
                    <input type="radio" name="type" checked=True value="Count" onclick="LoadCountVizualization()"> Count
                    <input type="radio" name="type" value="Percentage" onclick="LoadPercentageVizualization()">
                    Percentage
                </form>
                <div id="stackedArea" class="c3-text" style="height: 50%; margin: 10px"></div>
                <p class="chart-label">Staged Distribution of Number of Publication over time</p>
            </div>

        </div>
    </div>

    </body>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        var data = {{ aggregated_data|safe }};
        var platform = {{ code_platform|safe }};

        var id = data[0]['relation'];
        var name = data[0]['name'];

        var platform_list = [];
        for (var key in platform[0]) {
            platform_list.push(key)
        }
        var div = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        function donutChart() {
            var donutChart = c3.generate({
                legend: {
                    show: true,
                    position: 'right'
                },
                data: {

                    json: platform,
                    mimeType: 'json',
                    keys: {
                        value: platform_list
                    },
                    type: 'donut',
                    onclick: function (d, i) {
                        {#                    console.log("onclick", d, i);#}
                    },
                    onmouseover: function (d, i) {
                        {#                    console.log("onmouseover", d, i);#}
                    },
                    onmouseout: function (d, i) {
                        {#                    console.log("onmouseout", d['id']);#}
                    }
                },
                donut: {
                    label: {
                        format: function (value) {
                            return value;
                        }
                    },
                    title: "Models Platform"
                },

                bindto: '#donutChart'
            });
        }

        function LoadPercentageVizualization() {
            var svg = d3.select("svg");
            svg.selectAll("*").remove();
            c3.chart.internal.fn.getInterpolate = function () {
                return 'monotone'
            };
            donutChart();
            var stagedChart = c3.generate({
                data: {
                    json: data,
                    mimeType: 'json',
                    selection: {
                        enabled: true
                    },
                    onselected: function (d, element) {
                        callUrl(id, name, d['x'])
                    },
                    types: {
                        'Code Available Per': 'area-spline',
                        'Code Not Available Per': 'area-spline'
                    },
                    groups: [['Code Available Per', 'Code Not Available Per']],
                    keys: {
                        x: 'date',
                        value: ['Code Available Per', 'Code Not Available Per'],
                    },
                    onmouseover: function (d, i) {
                        onMouseOverEvent();
                    },
                    onmouseout: function (d, i) {
                        onMouseOutEvent();
                    }
                },
                legend: {
                    show: true,
                    position: 'inset',
                    inset: {
                        anchor: 'top-right',
                        x: 50,
                        y: undefined,
                        step: undefined
                    }
                },
                axis: {
                    x: {
                        padding: {left: 0.1, top: 0},
                        tick: {
                            culling: {
                                max: 40 // the number of tick texts will be adjusted to less than this value
                            },
                            fit: true,
                            format: "%y"
                        },
                        label: {
                            text: 'Year',
                            position: 'outer-center'
                        }
                    },
                    y: {
                        max: 99,
                        label: {
                            text: 'Percentage',
                            position: 'outer-middle'
                        },
                        tick: {
                            format: function (d) {
                                return d + "%";
                            }
                        }
                    }
                },
                point: {
                    show: true,
                },
                tooltip: {
                    format: {
                        title: function (d) {
                            return 'Percentage data for ' + d;
                        },
                        value: function (value, ratio, id) {
                            return (value).toFixed(2) + '%';
                        }
//            value: d3.format(',') // apply this format to both y and y2
                    }
                },
                bindto: '#stackedArea'
            });
            d3OnClickEvent()
        }

        function LoadCountVizualization() {
            document.getElementById('name').innerHTML = name.replace("\/", " ");
            donutChart();
            // can change type of the graph line formation by modifying interpolate value
            c3.chart.internal.fn.getInterpolate = function () {
                return 'monotone'
            };
            var stagedChart = c3.generate({

                data: {
                    json: data,
                    mimeType: 'json',
                    selection: {
                        enabled: true
                    },
                    onselected: function (d, element) {
                        callUrl(id, name, d['x'])
                    },
                    types: {
                        'Code Available': 'area-spline',
                        'Code Not Available': 'area-spline'
                    },
                    groups: [['Code Available', 'Code Not Available']],
                    keys: {
                        x: 'date',
                        value: ['Code Available', 'Code Not Available'],
                    },
                    onclick: function (d, i) {
                        {#                    console.log("onclick", d, i);#}
                    },
                    onmouseover: function (d, i) {
                        onMouseOverEvent();
                    },
                    onmouseout: function (d, i) {
                        onMouseOutEvent();
                    }
                },
                legend: {
                    show: true,
                    position: 'inset',
                    inset: {
                        anchor: 'top-right',
                        x: 50,
                        y: undefined,
                        step: undefined
                    }
                },
                axis: {
                    x: {
                        padding: {left: 0.1},
                        tick: {
                            culling: {
                                // the number of tick texts will be adjusted to less than this value
                                max: 40
                            },
                            fit: true,
                            format: "%y"
                        },

                        label: {
                            text: 'Year',
                            position: 'outer-center'
                        }

                    },
                    y: {
                        label: {
                            text: 'Number of publication',
                            position: 'outer-middle'
                        },

                        tick: {
                            format: function (d) {
                                return d;
                            }
                        }
                    }
                },
                bindto: '#stackedArea'
            });

            d3OnClickEvent()
        }

        function d3OnClickEvent() {
            d3.selectAll('.tick').on({
                "mouseover": function () { /* do stuff */
                    onMouseOverEvent();
                },
                "mouseout": function () { /* do stuff */
                    onMouseOutEvent();
                },
                "click": function (value, index) {
                    callUrl(id, name, value)
                },
            });
        }

        function onMouseOverEvent() {
            div.transition()
                .duration(200)
                .style("opacity", .9);
            div.html("Click to view all publication")
                .style("left", (d3.event.pageX) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
        }

        function onMouseOutEvent() {
            div.transition()
                .duration(500)
                .style("opacity", 0);
        }

        function callUrl(id, name, value) {
            var url = "{% url 'core:publicationlist' relation="1" name="name" year="value" %}".replace(/1/, id).replace(/name/, name).replace(/value/, value);
            location.href = url
        }

    </script>

{% endblock javascript %}