{% url 'core:pub-year-distribution' as pub_year_distribution %}
{% url 'core:publication-journal-relation' as publication_journal_relation %}
{% url 'core:publication-sponsor-relation' as publication_sponsor_relation %}
{% url 'core:publication-platform-relation' as publication_platform_relation %}
{% url 'core:publication-model-documentation-relation' as publication_model_documentation_relation %}
{% url 'core:publication-author-relation' as publication_author_relation %}


<h4 class="col-md-2"><a href="{{ pub_year_distribution }}"> Publication Vs Year(Count)</a></h4>
<h4 class="col-md-2"><a href="{{ publication_journal_relation }}"> Journal Publication Relation</a></h4>
<h4 class="col-md-2"><a href="{{ publication_sponsor_relation }}"> Sponsors Publication Relation</a></h4>
<h4 class="col-md-2"><a href="{{ publication_platform_relation }}"> Platforms Publication Relation</a></h4>
<h4 class="col-md-2"><a href="{{ publication_model_documentation_relation }}"> ModelDcoumentation Publication Relation</a></h4>
<h4 class="col-md-2"><a href="{{ publication_author_relation }}"> Author Publication Relation</a></h4>
